.cafe {
    background-color: burlywood;
    width: 100%;
    height: 12rem;
    border-radius: 20px;
    padding-left: 40px;
    padding-top: 5px;
    margin: 15px;
    position: relative;
}

.cafe-name {
    font-size: 30px;
}

.cafe-location {
    font-size: 18px;
}

.cafe-likes {
    font-size: 15px;
}

.cafe-picture {
    width: 150px;
    position: absolute;
    right: 3rem;
    top: 20px;
    border-radius: 5px;
}

.cafe-button {
    position: absolute;
    left: 9rem;
    bottom: 1.5rem;
}